html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  scrollbar-width: none;
}

.face-detection-result {
  justify-self: center;
  margin-top: 10rem;
  font-size: 5rem;
  font-weight: bold;
  color: #111827;
}